<h1><%= @events.size %> Events</h1>

<ul>
  <% @events.each do |e| %>
      <li>
        <strong><%= e.name %></strong>
        in <%= e.location %>:
        <%= number_to_currency(e.price) %>
      </li>
  <% end %>
</ul>
